body { height: 100%; background-color: whitesmoke }
button { padding: 0.3em 0.6em !important; }
select { padding: 0.3em 0.6em !important; font-size: 0.95rem; }
input { padding: 0.2em 0.4em !important; font-size: 0.95rem; }
p { font-weight: lighter; font-size: 0.9rem; }

$text: white;
$radius: 0.5em;

.rounded { border-radius: $radius !important; }
.complete-rounded { border-radius: 100px; }
.border-default { border: 1px solid rgba(0, 0, 0, 0.2); }
.border-top-default { border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: none !important; }
.bold { font-weight: bold !important; }

.bg-first { background-color: indigo; color: $text; }
.card {
  padding: 1rem 2rem;
  background-color: white;
  width:  25%; height: min-content;
  text-align: center;
  border-radius: $radius !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
  position: absolute !important;
  left: 14% !important;
  margin-top: 2em !important;
}

.y-middle { vertical-align: middle; height: min-content; }


